{{#if logged_in}}

<div class="row">
  <div class="col-auto">
    <h1>Welcome to Get Your Fit On!!</h1>
  </div>
</div>

<div>
   <a class="col-md-4" href="/api/login"><button class="btn btn-lg btn-primary " id="login-btn" >Log In</button></a>
</div>



<p> The most recent exercises used:
  {{order}}
</p>


login button
homepage: exercises last 5 /popular home routes

if exercise .length each exercise calories per minute
