
<div class="row text-center">
  <div class="col-auto">
    <h1>Welcome to Get Your Fit On!!</h1>
  </div>
</div>

<div class="text-center">
<h3> Recent Exercises: </h3>
  
  <!-- This loop iterates over the exercises array. -->
  {{#each exercise as |exercise|}}
    <div class="row mb-2">
      <div class="col-md-12">
        <h5>{{exercise.title}}</h4>
        <ul class="list-unstyled" >
            <li >Calories burned per hour: {{exercise.calories_per_hour}}</li>
        </ul>
      </div>
    </div>
  {{/each}}
</div>
 