<div class="row">
  <div class="col-auto">
    <h1>Welcome, {{user}}!</h1>
  </div>
</div>

<body>
    <h2>What do you want to do?</h2>
{{exercise.title}}
    <body>
        
    </body>
    </html>
</body>