{{#if logged_in}}
<h2>Add your exercise</h2>
 <form class="form exercise-form" id="new-exercise-form" data-id="{{id}}">
      <div class="form-group">
        <label for="categories">Categories</label>
            <select class="form-control" id="categoriesselect1">
                <option>Run</option>
                <option>Jog</option>
                <option>Walk</option>
                <option>Elliptical</option>
                <option>Stationary Bicycle</option>
                <option>Bicycle</option>
                <option>Circuit Training</option>
                <option>Jump Rope</option>
                <option>Rowing Machine</option>
                <option>Swimming</option>
                <option>Hiking</option>
                <option>Aerobic Dance</option>
                <option>HIIT</option>
                <option>Weight Lifting</option>
                <option>Yoga</option>
                <option>Pilates</option>
                <option>Rock Climbing</option>
                <option>Other</option>
            </select>
      </div>
      <div class="form-group">
         <label for="duration">Duration in Minutes </label>
            <input class="input" type="text" placeholder="How long?" id="duration">        
        </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" >Add Exercise</button>
      </div>
  </form>

  <script src="./js/newexercise.js"></script>

{{/if}}