{{#if logged_in}}


 <h2 class="text-center">Hi, {{username}} you're in the Nutrition section!</h2>
    <h3 class="text-center">What have you eaten today?</h3>
  
<div class="row mt-4">
  <a class="col-md-4" href="/api/food">
        <button class="btn btn-lg btn-primary " id="returnfood" >Return to Nutrition</button>
      </a>
  <form class="meal-choice col-md-6" id="meal-choice-form" data-id="{{id}}">
    <div class="form-group">
      <label for="categories">Which Meal is this?</label>
        <select class="form-control" id="meal-name">
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
            <option>Snacks</option>
        </select>
    </div>
    <div class="form-group">
      <label for="food-name">What is the food?</label> 
      <input class="input" type="text" placeholder="Food Name" id="food-name">
    </div>
    <div class="form-group">
      <label for="calories_count_per_serving">How many calories per serving?</label> 
      <input class="input" type="text" placeholder="Calories Per Serving" id="cal-per-serving">
    </div>
    <div class="form-group">
      <label for="calorie_count_servings">How many servings did you eat?</label> 
      <input class="input" type="text" placeholder="Servings eaten" id="servings">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" >Add Food</button>
      </div>
  </form>
  </div>


 <script src="./js/newmeal.js"></script>
{{/if}}
