{{#if logged_in}}

<div class="row text-center">
  <div class="col-auto">
    <h2>Hi, {{username}} you're in the Nutrition section!</h2>
    <h3>What have you eaten today?</h3>
  </div>

  <form class="meal-choice" id="meal-choice-form" data-id="{{id}}">
    <div class="form-group">
    <label for="categories">Categories</label>
        <select class="form-control" id="categoriesselect2">
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
            <option>Snacks</option>
        </select>
    </div>
        <div class="form-group">
            <input class="input" type="text" placeholder="Meal name" id="meal-name">
            <input class="input" type="text" placeholder="How many servings?" id="servings">
        </div>
    </div>
  </form>


  Add show