{{#if logged_in}}
<div class="row text-center">
  <div class="col-auto">
    <h2>Welcome to the Nutrition HomePage</h2>
  </div>
</div>

<div class="row mt-4">
  <a class="col-md-4" href="/createfood">
        <button class="btn btn-lg btn-primary " id="newMeal-btn" >Add New Food</button>
      </a>
{{#if nutrition.length}} 
   <div class="col-md-6 meal-list">
    <h3>Today's Meals:</h3>


    <h4 class="meal_name" id="breakfast"> Breakfast </h4>
    

    <h4 class="meal_name" id="lunch"> Lunch </h4>
    

    <h4 class="meal_name" id="dinner"> Dinner </h4>


    <h4 class="meal_name" id="snack"> Snack </h4>
    
    
    <h4 class="meal_name" id="explored"> Explored </h4>
  </div>
 {{/if}}

  <h3> Total Calories Eaten Today: <span id="totalCalories"></span></h3>
 
</div>
<script src="/js/nutrition.js"></script>
{{/if}}

