<div class=" mt-5 w-50 container ">
    <form class=" justify-content-center ">
        <div>
            <div>
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="mt-2">
                <button class="w-25 btn my-2 my-sm-0" type="submit">Search Nutrition</button>
                <button class="w-25 btn my-2 my-sm-0" type="submit">Search Fitness</button>
            </div>
        </div>
    </form>
</div>