<form id="search-nutrition" class=" mt-5 w-50 container ">
    <div class="form-group">
        <label for="search">Lookup Food</label>
        <input id="foodItem" class="form-control" placeholder="Search">
    </div>
    <button class="w-25 btn my-2 my-sm-0" type="submit">Search Nutrition</button>
</form>
<br>
<form id="search-exercises" class=" mt-5 w-50 container ">
    <div class="form-group">
        <label for="search">Lookup Exercises</label>
        <input id="exercise" class="form-control" placeholder="Search">
    </div>
    <button class="w-25 btn my-2 my-sm-0" type="submit">Search Exercises</button>
</form>

<div id="root" class="flex-row container justify-content-center"></div>

<script src="/js/fetchApi.js"></script>
