<!-- This code checks if the user is logged in. -->
{{#if logged_in}}
<form id="search-nutrition" class=" mt-5 w-50 container ">
    <!-- The following creates forms to search for exercises and nutition -->
    <div class="form-group">
        <label for="search">Lookup Food</label>
        <input id="foodItem" class="form-control" placeholder="Search">
    </div>
    <button class="btn my-2 my-sm-0" type="submit">Search Nutrition</button>
</form>
<form id="search-exercises" class=" mb-5 mt-5 w-50 container ">
    <div class="form-group">
        <label for="search">Lookup Exercises</label>
        <input id="exercise" class="form-control" placeholder="Search">
    </div>
    <button class="btn my-2 my-sm-0" type="submit">Search Exercises</button>
</form>

<div id="root" class="flex-row container justify-content-center"></div>

<script src="/js/fetchApi.js"></script>
{{/if}}