<form class="signup-form w-50 container">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input class="form-control" id="username-input" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">No Spaces. No Special Characters</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll (hopefully) never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password-input">Password</label>
    <input type="password" class="form-control" id="password-input" placeholder="Password">
    <small class="form-text text-muted">Minimum 8 Characters</small>
  </div>
  <button id="signup" type="submit" class="btn btn-primary">Signup</button>
<br>
<a href="/login" class="d-flex justify-content-center">Already have an account? Login here!</a>
</form>