* {
    
}
body {
    margin:15px !important;
}
h3 {
    margin:15px !important;
}

li {
    font-size: 1REM;
}

.meal_name {
    padding: 10px;
    width: 500px;
    border-style: solid;
    border-width: 1px;
}


.remove_button_css {
    width: fit-content;
    text-align: left;
    color: rgba(0,0,0,.5);
    outline: none;
    padding: .5rem 0rem; 
    border: 0px; 
    background-color: transparent; 
  }

.remove_button_css:focus,
.remove_button_css:hover {
    color: #1a1a1a;
    cursor: pointer;
}

.explore_card {
    width: 500px;
}

.explore_card_title {
    text-align: center;
    background-color: darkcyan;
    margin-bottom: .5rem;
}

